#titulo{
    text-align: center;
    padding: top 20px;
    padding-bottom: 20px;
    font-size: 22px;
    background-color: rgb(0, 0, 31);
    border-radius:25px 25px 25px 25px;
    color: rgb(216, 216, 216);
    width: 500px;
    margin: 0 auto;
  }
  #res, #emp, #inst, #ticket_form{
    margin: 0 auto;
    width: 700px;
    padding-left:60px;
  }
  textarea{
    width: 90%;
  }
  
  fieldset{
    overflow: hidden;
  }
  #seleccion {
    width: 500px;
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
    border: solid 1px lightgray;
  }
  #planes_w, #planes_f, .form {
      display: none;
  }

  #icon_button{
    color:#f5811f;
  }
  
  .form.active {
      display: block;
  }
  
  .articulo_form{
      background-color: white;
      border: solid 1px;
      border-color: lightgray;
      padding: 50px;
      margin: 0 auto;
      margin-top: 30px;
      margin-bottom:30px;
      width: 60%;
    }
  
    
  .formheader{
    padding-top: 40px;
    font-size: 15px;
    color: black;
    padding-bottom: 20px;
  }
  input::placeholder {
    font-weight: bold;
    font-size: 10px;
    opacity: 0.5;
    color: rgb(226, 226, 226);
  }
  
  input[type=radio],
  input.radio {
    margin: 2px 0 0 2px;
  }
  label {
    padding: 0px 1em 0px 8px;
  }
  
  #mbps {
    width: 50px;
  }
  .suffix{
    font-weight: 700;
    font-size: 15px;
    padding: 7px;
    border-radius: 0px 10px 10px 0px;
    justify-content:center;
    background-color: rgb(0, 0, 31);
    color: white;
  }

